 
:root {
    --tab-min-height: 26px !important;   /* ارتفاع التب (الافتراضي حوالي 36-40px) */
     font-size: 11px !important;  /* خط أصغر */
    font-family:  "Consolas" !important; 
  
}

/* ارتفاع التب نفسه */
.tabbrowser-tab  {
    font-weight: lighter !important;  
    margin-bottom: 2px !important;  
      min-height: var(--tab-min-height) !important;
    max-height: var(--tab-min-height) !important;
   
}
  
/* التب المحدد (Selected Tab) */
.tabbrowser-tab[selected]   {     
    font-weight:  700 !important;  

} 
 

/* للتابات الطويلة والـ containers */
.tab-label {
    flex:   auto !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important; 
    text-align: left !important;
}
 